# Encryption
[mysqld]
plugin_load_add = {{ plugin_load_add }} 
file_key_management = {{ file_key_management }}
file_key_management_filename = {{ file_key_management_filename }}
file_key_management_filekey = {{ 'FILE:' + file_key_management_filekey }}
file_key_management_encryption_algorithm = {{ file_key_management_encryption_algorithm }}
encrypt_binlog = {{ encrypt_binlog }}
encrypt_tmp_disk_tables = {{ encrypt_tmp_disk_tables }}
encrypt_tmp_files = {{ encrypt_tmp_files }}
aria_encrypt_tables = {{ aria_encrypt_tables }}
innodb_encrypt_tables = {{ innodb_encrypt_tables }}
innodb_encrypt_temporary_tables = {{ innodb_encrypt_temporary_tables }}
innodb_encrypt_log = {{ innodb_encrypt_log }}
innodb_encryption_threads = {{ innodb_encryption_threads }}
innodb_encryption_rotate_key_age = {{ innodb_encryption_rotate_key_age }}