<!DOCTYPE html>
<html>
  <body>
    <h1>Getting started with Vagrant on : {{ansible_distribution}}!</h1>
    <p>
    {{apache_test_message}} <br>
    Current host : {{ansible_hostname}} <br>
    </p>
  </body>
</html>