CREATE USER '{{ mariabackup_sst_user }}'@'localhost' IDENTIFIED BY '{{ mariabackup_sst_pwd }}';
GRANT RELOAD, PROCESS, LOCK TABLES, REPLICATION CLIENT ON *.* TO '{{ mariabackup_sst_user }}'@'localhost';
FLUSH PRIVILEGES;