[ req ]
prompt = no
distinguished_name = dn

[ dn ]
CN = {{ CA_CN }}
emailAddress = {{ CA_emailAddress }}
O = {{ CA_organization }}
OU = "{{ CA_organizationUnit }}"
L = {{ CA_location }}
ST = {{ CA_state }}
C = {{ CA_country }}