[ req ]
prompt = no
distinguished_name = dn

[ dn ]
CN = {{ server_CN }}
emailAddress = {{ server_emailAddress }}
O = {{ server_organization }}
OU = "{{ server_organizationUnit }}"
L = {{ server_location }}
ST = {{ server_state }}
C = {{ server_country }}