$TTL {{ fwd_ramiyoeun_lan_ttl }}
@   IN  SOA {{ fwd_ramiyoeun_primary_zone_name }}   {{ fwd_ramiyoeun_root_zone_name }} (
    {{ fwd_ramiyoeun_lan_serial }} ;Serial
    {{ fwd_ramiyoeun_lan_refresh }} ;Refresh
    {{ fwd_ramiyoeun_lan_retry }} ;Retry
    {{ fwd_ramiyoeun_lan_expire }} ;Expire
    {{ fwd_ramiyoeun_lan_min_TTL }} ) ;Minimum TTL

;Name servers
@   IN  NS  {{ ansible_facts.hostname }}

;Other servers
{{ ansible_facts.hostname }}    IN  A   {{ ansible_facts.eth1.ipv4.address }}
web-01                          IN  A   10.100.0.54

;Canonical Names
www                             IN  CNAME   web-01
