[galera]
# Mandatory
wsrep_provider = {{ wsrep_provider }}
wsrep_cluster_address = "{{ wsrep_cluster_address }}"
binlog_format = {{ binlog_format }}
default_storage_engine = {{ default_storage_engine }}
innodb_autoinc_lock_mode = {{ innodb_autoinc_lock_mode }}
innodb_doublewrite = {{ innodb_doublewrite }}
query_cache_size = {{ query_cache_size }}
wsrep_on = {{ wsrep_on }}
bind-address = {{ bind_address }}